<script type="application/json" id="bootstrapped_authored_emails_json">
 <%= current_user.authored_emails.to_json.html_safe %>
</script>

<script type="application/json" id="bootstrapped_received_emails_json">
 <%= current_user.received_emails.to_json.html_safe %>
</script>

<script type="application/javascript">
	$(function () {
		var authored_emails = JSON.parse($("#bootstrapped_authored_emails_json").html());
		var received_emails = JSON.parse($("#bootstrapped_received_emails_json").html());
		window.GmailClone.initialize($("#content"), authored_emails, received_emails);
	});
</script>